{
  "presets": [
    ["latest", {
      "es2015": {
        "loose": true,
        "modules": false
      },
    }],
  ],
  "plugins": [["component", [
    { "libraryName": "mint-ui", "style": true }
  ]]]
}
